@import "../../../App.css";

.mainBanner {
  position: relative;
  height: 630px;
  background-image: url("../../../assets/img/homePage/netBackground.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
}

.mainBanner .dark-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.mainBanner .container-xl {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mainBanner img {
  width: 240px;
  border-radius: 50%;
}

.mainBanner .text-container {
  text-align: center;
  align-content: center;
  color: white;
  padding: 0px 20px;
}

.mainBanner h1 {
  font-size: 54px;
  font-weight: bold;
}

.mainBanner h2 {
  font-size: 32px;
}
