@import "../../../App.css";

.knowledge {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom-style: solid;
  border-color: var(--background-grey-light);
}

.knowledge h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
}

.knowledge .col {
  padding: 12px 12px;
}

.knowledge .card {
  border-radius: 30px;
  border-width: 1px;
}

.knowledge h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.knowledge h5 {
  margin: 0px;
  text-align: center;
  font-size: 20px;
}
