@import "../../../App.css";

.certificates {
  padding-bottom: 60px;
}

.certificates h1 {
  text-align: center;
  padding-top: 40px;
}

.certificates .group-container {
  padding: 10px 0px;
}

.certificates img {
  height: 90px;
  padding: 20px 0px;
}

.certificates .certificate-item {
  display: flex;
  padding: 10px 0px;
  align-items: center;
}

.certificates a {
  background-color: var(--primary-color);
  color: white;
  border-radius: 80px;
  margin-right: 10px;
}

.certificates a:hover {
  background-color: var(--secondary-color);
  color: white;
}

.certificates h2 {
  font-size: 22px;
  margin: 0px;
}
